<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="connection.datasource">java:/comp/env/jdbc/BariHoshDB</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>
		
		<mapping class="br.com.bariHosh.entidade.Usuario" />
		<mapping class="br.com.bariHosh.entidade.Pessoa" />
		<mapping class="br.com.bariHosh.entidade.Fornecedor" />
		<mapping class="br.com.bariHosh.entidade.CategoriaProduto" />
		<mapping class="br.com.bariHosh.entidade.Cliente" />
		<mapping class="br.com.bariHosh.entidade.Endereco" />
		<mapping class="br.com.bariHosh.entidade.Estoque" />
		<mapping class="br.com.bariHosh.entidade.Fabricante"/>
		<mapping class="br.com.bariHosh.entidade.Marca" />
		<mapping class="br.com.bariHosh.entidade.ItemComanda" />
		<mapping class="br.com.bariHosh.entidade.Log_Estoque" />
		<mapping class="br.com.bariHosh.entidade.Pagamento" />
		<mapping class="br.com.bariHosh.entidade.Comanda" />
		<mapping class="br.com.bariHosh.entidade.Produto" />		
		<mapping class="br.com.bariHosh.entidade.GrupoProduto" />

	</session-factory>
</hibernate-configuration>
