<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-3.2.xsd">
	<http auto-config="true">
	
		<intercept-url pattern="/restrito/caixa/**" access="ROLE_ADMINISTRADOR, ROLE_USUARIO_CAIXA" />
		<intercept-url pattern="/restrito/categoriaProduto/**" access="ROLE_ADMINISTRADOR" />
		<intercept-url pattern="/restrito/cliente/**" access="ROLE_ADMINISTRADOR" />
		<intercept-url pattern="/restrito/comanda/**" access="ROLE_ADMINISTRADOR, ROLE_USUARIO_GARCON" />
		<intercept-url pattern="/restrito/estoque/**" access="ROLE_ADMINISTRADOR" />
		<intercept-url pattern="/restrito/fabricante/**" access="ROLE_ADMINISTRADOR" />
		<intercept-url pattern="/restrito/marca/**" access="ROLE_ADMINISTRADOR" />
		<intercept-url pattern="/restrito/produto/**" access="ROLE_ADMINISTRADOR" />
		<intercept-url pattern="/restrito/usuario**" access="ROLE_ADMINISTRADOR" />
		
		<form-login login-page="/publico/login.jsf"
			always-use-default-target="true"
			default-target-url="/restrito/index.jsf?login_sucess=1"
			authentication-failure-url="/publico/login.jsf?login_error=1" />
		<logout logout-success-url="/publico/login.jsf" />
		<remember-me />
	</http>
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service
				data-source-ref="bariHoshDataSource"
				authorities-by-username-query="SELECT u.login, u.permissao 
																	FROM Usuario u	WHERE u.login = ?"
				users-by-username-query="SELECT login, senha, ativo FROM Usuario WHERE login = ?" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>

